# In GuideMEClientProxy
public net.minecraft.client.Minecraft metadataSerializer

# In ResourceUtil
public net.minecraft.client.resources.AbstractResourcePack resourcePackFile

# In BaseScreen
public net.minecraft.client.gui.GuiScreen eventButton
public net.minecraft.client.gui.GuiScreen touchValue

# In GuideEditBox
protected net.minecraft.client.gui.GuiTextField fontRenderer
protected net.minecraft.client.gui.GuiTextField cursorCounter
protected net.minecraft.client.gui.GuiTextField disabledColor
protected net.minecraft.client.gui.GuiTextField enabledColor
protected net.minecraft.client.gui.GuiTextField selectionEnd
protected net.minecraft.client.gui.GuiTextField cursorPosition
protected net.minecraft.client.gui.GuiTextField lineScrollOffset
protected net.minecraft.client.gui.GuiTextField isEnabled
protected net.minecraft.client.gui.GuiTextField drawSelectionBox(IIII)V

# In GuiAtlasSprite
protected net.minecraft.client.renderer.texture.TextureAtlasSprite <init>(Ljava/lang/String;)V

# In GuiStitcher
protected net.minecraft.client.renderer.texture.Stitcher mipmapLevelStitcher
protected net.minecraft.client.renderer.texture.Stitcher setStitchHolders
protected net.minecraft.client.renderer.texture.Stitcher stitchSlots
protected net.minecraft.client.renderer.texture.Stitcher currentWidth
protected net.minecraft.client.renderer.texture.Stitcher currentHeight
protected net.minecraft.client.renderer.texture.Stitcher maxWidth
protected net.minecraft.client.renderer.texture.Stitcher maxHeight

# In SNBTUtil
public net.minecraft.nbt.NBTTagCompound handleEscape(Ljava/lang/String;)Ljava/lang/String;
